<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="pre_included">
    <meta charset="utf-8" />
    <title>首页</title>
</head>

<body class="no-skin">
<div th:include="sidebar"></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
    <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/index">首页</a>
                    </li>
                    <li class="active">文章列表</li>
                </ul><!-- /.breadcrumb -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        文章列表
                    </h1>
                </div><!-- /.page-header -->
                <form id="searchForm"  role="searchForm">
                    <div class="form-group">
                        <label for="keyword" class="control-label col-sm-1">关键字：</label>
                        <div class="col-sm-2">
                            <input type="text" id="keyword"  class="form-control col-sm-5 input-sm" placeholder="请输关键字" name="keyword" />
                        </div>
                    </div>
					 <input type="hidden"   value=""  th:value="${columnId}"  id="sColumnId"  name="sColumnId"/>
					 <input type="hidden"   value=""  th:value="${columnName}"  id="sColumnName"  name="sColumnName"/>
                </form>
						<span style="float:right;">
							<button role="btn-Query" type="button" class="btn btn-sm btn-purple" >
                                <i class="ace-icon fa fa-search">
                                </i>
                                查询
                            </button>
		                    <button role="btn-Reset" type="button" class="btn btn-sm" >
                                <i class="ace-icon fa fa-undo">
                                </i>
                                重置
                            </button>
		                    <button role="btn-Add" type="button" class="btn btn-sm btn-success" >
                                <i class="ace-icon fa fa-plus">
                                </i>
                                新增
                            </button>
                             <button class="btn btn-sm btn-pre" data-last="Finish" type="button" onclick="javascript:history.back(-1);">
		               				<i class="ace-icon fa fa-chevron-left"></i>
		               				     返回
		              		</button>
						</span>

                <br/><br/><br/>

                <div class="row">
                    <div class="col-xs-12">
                        <table id="tb-list" class="table table-striped table-hover" style="width:100%!important;">
                            <thead>
                            <tr>
                                <th>
 									标题
                                </th>
                                <th>
                                	分类
                                </th>
                                <th>
 									分组
                                </th>
                                <th>
                            		网址
                                </th>
                                <th>
									 关键字
                                </th>
                                <th>
									 摘要
                                </th>
                                <th width="20%">
 									操作
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <!-- 表单内容end -->
                </div>

            </div><!-- /.page-content -->
    </div><!-- /.main-content -->

</div><!-- /.main-container -->
<div id="add-modal-form" class="modal fade" tabindex="-1" role="basic"
     aria-hidden="true" style=";" data-backdrop="static">
    <div class="modal-dialog" style="width:100%;margin:30px auto\0;">
        <div class="modal-content">
            <form id="addDocInfoForm" name="addDocInfoForm" action="/docInfoMng/addDocInfo" 
                  class="form-horizontal" role="addDocInfoForm" method="post" onsubmit="return false;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="blue bigger">
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <input type="hidden" id="form-field-0" name="id" />
                            <input type="hidden"  name="sourceId" id="sourceId"  />
                            <input type="hidden"  name="couLumnId" id="couLumnId" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="title">
                                    <font color='red'>
                                        *
                                    </font>标题
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" id="title" name="title" class="form-control"
                                           placeholder="输入标题" />
                                </div>
                            </div>
                          <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="cnTitle">
                                    <font color='red'>
                                        *
                                    </font>中文标题
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" id="cnTitle" name="cnTitle" class="form-control"
                                           placeholder="输入中文标题" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="type">
                                    <font color='red'>
                                        *
                                    </font>分类
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" id="classification" name="classification" class="form-control"
                                           placeholder="输入分类" />
                                </div> 
                            </div>
                             <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="groupName">
                                    <font color='red'>
                                        *
                                    </font>分组
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" id="groupName" name="groupName" class="form-control"
                                           placeholder="输入分组" />
                                </div> 
                            </div>
                             <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="website">
                                    <font color='red'>
                                        *
                                    </font>网址
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" id="" name="website" class="form-control"
                                           placeholder="输入网址" />
                                </div> 
                            </div>
                             <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="keyword">
                                    <font color='red'>
                                        *
                                    </font>关键字
                                </label>
                                <div class="col-sm-7">
                                    <input type="text" id="keyword" name="keyword" class="form-control"
                                           placeholder="输入关键字" />
                                </div> 
                            </div>
                           <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="columnName">
                                    <font color='red'>
                                        *
                                    </font>栏目名称
                                </label>
								<div class="col-sm-7">
									<span class="block input-icon input-icon-right">
											<div class="input-group"> 
												<input type="text" id="columnName"   placeholder="请选择栏目"    name="columnName"
													class="form-control required" readonly="readonly"/>
												<input type="hidden" name="columnId" 
													id="columnId" readonly="readonly"/>
												 <span class="input-group-btn">
													<button id="btn-columnTree" class="btn btn-sm btn-yellow"
														type="button">
														<i class="ace-icon fa fa-eye"></i>
													</button>
												</span> <input type="hidden" id="docColumnField" />
											</div>
									</span> 
										<span class="block input-icon input-icon-right">
										<div id="addcolumnZTree"  style="display: none;" >
												<div class="col-xs-12"
													style="overflow-y: auto; max-height: 500px; position: absolute; z-index: 999; background: #fff; border: 1px solid #e3e3e3">
													<ul id="columnTree" class="columnTree ztree">
													</ul>
												</div>
										</div>
										</span>
								</div> 
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="sourceName">
                                    <font color='red'>
                                        *
                                    </font>来源名称
                                </label>
								<div class="col-sm-7">
										<span class="block input-icon input-icon-right">
											<div class="input-group"> 
												<input type="text" id="sourceName"   placeholder="请选择来源" name ="sourceName"
													class="form-control required" readonly="readonly"/>
												<input type="hidden" name="sourceId"
													id="sourceId" readonly="readonly"/> <span
													class="input-group-btn">
													<button id="btn-sourceTree" class="btn btn-sm btn-yellow"
														type="button">
														<i class="ace-icon fa fa-eye"></i>
													</button>
													</span>
											</div>
										</span> 
										<span class="block input-icon input-icon-right">
										<div id="addsourceZTree"   style="display: none;" >
												<div class="col-xs-12"
													style="overflow-y: auto; max-height: 500px; position: absolute; z-index: 999; background: #fff; border: 1px solid #e3e3e3">
													<ul id="sourceTree" class="sourceTree ztree">
													</ul>
												</div>
										</div>
										</span> <input type="hidden" id="docSourceField" />
								</div> 
                            </div>
                            <div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"
										for="ifTop"> <font color='red'> * </font>
										是否置顶：
									</label>
									<div class="col-sm-7">
										<select name="ifTop" id="ifTop"
											class="form-control">
											<option value='1'>是</option>
											<option value='0'>否</option>
										</select>
									</div>
								</div>
                                                                                        <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="summary">
                                    <font color='red'>
                                        *
                                    </font>摘要
                                </label>
                                <div class="col-xs-12 col-sm-2">
                                	<span class="block input-icon input-icon-right" >
	                                    <textarea rows="5" cols="6" placeholder="请输入摘要"  id="summary" name="summary"  class="form-control isTextarea"> </textarea>
                                	</span>
                                </div> 
                            </div>
                                   <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="body">
                                    <font color='red'>
                                        *
                                    </font>原文正文
                                </label>
                                <div class="col-sm-7">
                                    <textarea rows="20" cols="6" placeholder="请输入原文正文"  id="body" name="body" class="form-control isTextarea"></textarea>
                                </div> 
                            </div>
           					 <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="cnBoty">
                                    <font color='red'>
                                        *
                                    </font>中文正文
                                </label>
                                <div class="col-sm-7">
                                    <textarea rows="20" cols="6" placeholder="请输入中文正文"  id="cnBoty" name="cnBoty"  class="form-control isTextarea" ></textarea>
                                </div> 
                            </div>                 
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-simple-submit" class="btn btn-sm btn-primary" type="submit"
                            data-loading-text="正在保存中...">
                        <i class="ace-icon fa fa-save">
                        </i>
                        保存
                    </button>
                    <button class="btn btn-sm btn-default" data-dismiss="modal" type="button">
                        <i class="ace-icon fa fa-times">
                        </i>
                        取消
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- 				 <input type="hidden"  th:text="${columnId}"  id="columnId" />
					 <input type="hidden"  th:text="${columnName}"  id="columnName" /> -->
<!-- 隐藏域 -->

<script>
	      seajs.use('/js/docInfoMng/main');
	 </script>
</body>
</html>
