<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:include="pre_included">
		<meta charset="utf-8" />
		<title>首页</title>
	</head>

	<body class="no-skin">
		<div th:include="sidebar"></div> 
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>


			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="/index">首页</a>
							</li>
							<li class="active">用户栏目来源分配</li>
						</ul><!-- /.breadcrumb -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
		            			用户栏目来源分配
            				</h1>
						</div><!-- /.page-header -->
						  <div class="row row_content">
						  	<input type="hidden" id="checkedId"/>
							<!-- 左列 -->
							<div class="col-md-4 row_left">
							<div style="width:400px;height:600px; overflow:scroll; border:1px solid;"> 
								<h3 style="text-align:center">用户列表</h3>
								<br/>
								<span class="block input-icon input-icon-right">
									<div id="UserZTree" class="ztree">
										<div class="col-xs-12" style="overflow-y: auto;max-height: 500px;position:absolute;z-index:999;background:#fff;border:1px solid #e3e3e3">
											<ul id="tree" class="ztree">
											</ul>
										</div>
									</div> 
								</span>
							 </div>
								
							</div>
							<!-- 中列 -->
							<div class="col-md-4 row_center">
								<h3 style="text-align:center">栏目列表</h3>
								<br/>
								<span class="block input-icon input-icon-right">
									<div id="ColumnZTree" class="ztree">
										<div class="col-xs-12" style="overflow-y: auto;max-height: 500px;position:absolute;z-index:999;background:#fff;border:1px solid #e3e3e3">
											<ul id="tree" class="ztree">
											</ul>
										</div>
									</div> 
								</span>
							</div>
							<!-- 右列 -->
							<div class="col-md-4 row_right">
								<h3 style="text-align:center">来源列表</h3>
								<br/>
								<span class="block input-icon input-icon-right">
									<!-- <table id="tbSourceList">
										<thead>
											<tr>
												<th style="width:10%"><input type="checkbox" id="sourceId" title='选取本页所有文档' /> 选择</th>
												
												<th style="width:15%">来源名称</th>
											</tr>
										</thead>
									</table> -->
									<div id="SourceZTree" class="ztree">
										<div class="col-xs-12" style="overflow-y: auto;max-height: 500px;position:absolute;z-index:999;background:#fff;border:1px solid #e3e3e3">
											<ul id="tree" class="ztree">
											</ul>
										</div>
									</div>
								</span>
							</div>
						  </div>
						  <br/>
						  <br/>
						  <br/>
						  <div class="col-md-4 col-md-offset-5">
						  	<button type="button" class="btn btn-md btn-primary" id="save" data-loading-text="保存中...">
								<i class="ace-icon fa fa-floppy-o"></i> 保存
							</button>
						  </div>
						
						
						
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->

		
		</div><!-- /.main-container -->		
		<script>
	      seajs.use('/js/userAllocation/main');
	 	</script>
	</body>
</html>
