<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="pre_included">
<meta charset="utf-8" />
<script type="text/javascript" src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/underscore.min.js"></script>
<script type="text/javascript" src="/js/backbone.min.js"></script>
<script type="text/javascript" src="/js/sea.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
<div class="col-sm-4">
	<div>
		<div class="wizard-actions" style="text-align: right;">
			<button id="btn-add" class="btn btn-sm btn-success">
				<i class="ace-icon fa fa-plus"></i>新增
			</button>
			<button id="btn-edit" class="btn btn-sm btn-success">
				<i class="ace-icon fa fa-edit"></i>修改
			</button>
			<button id="btn-delete" class="btn btn-sm btn-success">
				<i class="ace-icon fa fa-trash-o"></i>删除
			</button>
		</div>
	</div>
	<span class="block input-icon input-icon-right">
		<div id="controlZTree">
			<div class="col-xs-12"
				style="overflow-y: auto; max-height: 500px; position: absolute; z-index: 999; background: #fff; border: 1px solid #e3e3e3">
				<ul id="tree" class="ztree">
				</ul>
			</div>
		</div>*
	</span>
	<div id="add-modal-form" class="modal fade" tabindex="-1" role="basic"
		aria-hidden="true" style="" data-backdrop="static">
		<div class="modal-dialog" style="width: 500px; margin: 30px auto\0;">
			<div class="modal-content">
				<form id="addColumnForm" name="addColumnForm"
					action="/docColumnMng/addColumn" class="form-horizontal" role="form"
					method="post">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
						<h4 class="blue bigger"></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<input type="hidden" id="form-field-0" name="id" />
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"
										for="addName"> <font color='red'> * </font> 栏目将名称：
									</label>
									<div class="col-sm-7">
										<input type="text" id="addName" name="name"
											class="form-control" placeholder="输入栏目名称" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right"
										for="addIfSepecial"> <font color='red'> * </font>
										是否特殊来源：
									</label>
									<div class="col-sm-7">
										<select name="ifSpecial" id="ifSpecial"
											class="form-control">
											<option value='1'>是</option>
											<option value='0'>否</option>
										</select>
									</div>
								</div>
								<div class="form-group ">
									<label class="col-sm-3 control-label  no-padding-right" > <font
										color='red'> * </font>上级目录：
									</label>
									<div class="col-sm-7">
										<span class="block input-icon input-icon-right">
											<div class="input-group">
												<input type="text" id="docColumnCdMask"
													class="form-control required" readonly="readonly"/>
												<input type="hidden" name="parentId"
													id="docColumnCd" readonly="readonly"/> <span
													class="input-group-btn">
													<button id="btn-showTree" class="btn btn-sm btn-yellow"
														type="button">
														<i class="ace-icon fa fa-eye"></i>
													</button>
												</span> <input type="hidden" id="docColumnCdField" />
											</div>
										</span> <span class="block input-icon input-icon-right">
											<div id="addControlZTree"   style="display: display;" >
												<div class="col-xs-12"
													style="overflow-y: auto; max-height: 500px; position: absolute; z-index: 999; background: #fff; border: 1px solid #e3e3e3">
													<ul id="addTree" class="addTree">
													</ul>
												</div>
											</div>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button id="add-simple-submit" class="btn btn-sm btn-primary"
							type="submit" data-loading-text="正在保存中...">
							<i class="ace-icon fa fa-save"> </i> 保存
						</button>
						<button class="btn btn-sm btn-default" data-dismiss="modal"
							type="button">
							<i class="ace-icon fa fa-times"> </i> 取消
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


</html>